p,h5{color:gray}
.add-btn{
    color: gray;
    // margin: -13px -1px;
    border: none;
    border-top: 1px solid #d3d1d1;
    outline: none;
    background: white;
    padding: 9px;
    width: 100%;
    // position: absolute;
}
a{text-decoration: none;}
.categories{
    width: 100%;
    padding: 20px;
    background: rgb(65, 64, 64);
    color: white;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    ul li{
        list-style-type: none;
        margin: 5% 0;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    h5{
        color:rgb(167, 13, 13);
        border-bottom: 2px solid rgb(167, 13, 13);
        text-align: center;
        width: 66%;
    }
}

ul li:hover{
    color:rgb(212, 23, 23);
}