<div class="mt-5 mb-5">
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-4 mt-4">  
            <div class="categories">
                <h5 class="ml-3 mb-4">All Categories</h5>
                <ul>
                    <li *ngFor="let item of categories" (click)="getCategory(item)">
                        <a routerLinkActive="selected-li">{{item}}</a>
                    </li>

                </ul>
            </div> 
        </div>
        <div class="col-sm-7 col-md-8 col-lg-8">
            <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let item of category;let i=index">
            <a routerLink="/detail/{{item.id}}">
            <div style="background: white;height: 85%;border-radius: 5px;" class="p-4 mt-4">
                <div style="height: 250px;">
            <img [src]="item.image" class="w-100 h-100" >
            </div>
            <h5 style="color: rgb(167, 13, 13);margin-top: 8%;">{{item.price}} $</h5>
            <p>{{item.title}}</p>
        </div>
    </a>
    <button class="add-btn" (click)="openDailog(cartTemplate)">Add To Cart</button>
    <ng-template #cartTemplate>
        <div class="row">
            <div class="col-md-12">
            <mat-form-field class="w-100">
                <mat-label>Enter Quantity please</mat-label>
                <input type="number" matInput [(ngModel)]="quantity">
            </mat-form-field>
            <button  class="col-md-6 add-btn" (click)="pushIntoCart(item);pushquantity(quantity);closeDailog();opensnackbar();quantity=''">add to cart</button>
             <button  class="col-md-5 add-btn" (click)="closeDailog();quantity=''">cancel</button>    
        </div></div>

    </ng-template>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
<!-- pushIntoCart(item); -->