.footer{
    background: url(src/assets/images/03.png);
    color:gray;
    .content{
        text-align: center;
        margin: 5% 0px;
        font-family: 'Anton', sans-serif;
        h5{
            color: white;   
            font-family: 'Anton', sans-serif;
        }
        input[type="text"],button{
            border: none;
            outline: none;
            padding: 18px;
            color: rgb(167, 13, 13);
            background: black;
        
        }
        .subscribe{margin: 0 27%;width: 50%;}

    }
    ul{
        margin: 0 69%;
        width: 25%;
         li{
        float: left;
        list-style-type: none;
        color: white;
        margin: 0 5%;
    }}
    .clearfix{
        clear: both;
    }
    .subscribe-btn{
        width: 36% !important;
    }   

}
@media (max-width: 767px ){/* mobile & tablet*/
    .footer .content .subscribe{
        margin: 0 0%;
        width: 95%;
    }
    .footer .subscribe-btn{
        width: 77% !important;
    }
    .footer ul{
        margin: 0 7%;
        width: 68%;

    }


}
@media (min-width: 768px) and (max-width:991px){ /* small screen */ 
   .footer .content .subscribe{
        margin: 0 0%;
        width: 95%;
    }
    .footer .subscribe-btn{
        width: 77% !important;
    }
    .footer ul{
        margin: 0 7%;
        width: 68%;
        
    }
    

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}