<div class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content">
            <h5 style="font-family: cursive;">SUBSCRIBE OUR NEWSLETTER
            </h5>
            <p>Subscribe to our Newsletter to get firts Gift voucher by our shop
            </p>
            <div class="subscribe mb-3 mt-5">
            <div class="d-flex w-100">
                <div class="w-75">
                <input type="text" class="w-100" placeholder="Your Email Address">
            </div>
            <div  class="subscribe-btn">
                <button class="w-100">SUBSCRIBE <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            </div>
        </div>

            <input type="checkbox"> I agree to the terms and conditions and the privacy policy
    </div>
  
    <!-- <div class="clearfix"></div> -->
</div>
</div>
</div>

<div class="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                 <ul class="w-50">
                     <li>
                         <a>
                             <i class="fa fa-facebook" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li>
                         <a>
                             <i class="fa fa-twitter" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li>
                         <a>
                             <i class="fa fa-google" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li>
                         <a>
                             <i class="fa fa-youtube" aria-hidden="true"></i>
                         </a>
                     </li>
                     <li>
                         <a>
                             <i class="fa fa-pinterest" aria-hidden="true"></i>
                         </a>
                     </li>
                     <div class="clearfix"></div>
         
         
                 </ul>
         </div>
        </div>
    </div>
</div>