<div class="contact" style="margin: 7%;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="contact-info">
                <h5 style="font-family: cursive;">INFORMATION
                </h5>
              <p class="mt-5 mb-5">For any feedbacks or improvements on our online store, please fill in this contact form. We will take a look and reply you within 24 hours. We always need your feedbacks to continuously leverage your shopping experience.</p>
              
                    <i class="fa fa-phone mr-3 mt-2" style="color: white;" aria-hidden="true"></i>(+1) 540-866-3229
                  
                          <br>
                         
                        <i class="fa fa-envelope mr-3 mt-2" style="color: white;" aria-hidden="true"></i>demo@axonvip.com
                      
                          <br>
                          
                        <i class="fa fa-map-marker mr-3 mt-2" style="color: white;" aria-hidden="true"></i>Demo 11429 Netus Rd, NY 48247 United States
                   
            </div>
        </div>
            <div class="col-md-7">
                <h5 class="wow bounce mt-2" data-wow-duration="2s">LEAVE A MESSAGE
                </h5>
               <form class="w-100 mt-5">
                   <input type="email" placeholder="Email" class="w-100">
                   <br>
                   <br>
                   <textarea placeholder="How can we help?" class="w-100" style="height: 130px;"></textarea>
                   <br>
                   <br>
                   <input type="checkbox" name="" id=""><span style="color: rgb(180, 180, 180);"> I agree to the terms and condition and privacy policy</span>
                   <br>
                   <br>
                   <button class="wow fadeInDownBig" data-wow-duration="2s">Send Message</button>
               </form>
            </div>
            <div class="col-md-12 card" style="height: 400px;margin: 7% 0;">
                <div class="map w-100 h-100 p-4">
                    <iframe class="w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
                        frameborder="0" style="border:0" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>