h5{color: white;}
input{
    padding: 12px;
    outline: none;
}
button{
    padding: 14px;
    border: none;
    outline: none;
    color: white;
    background: rgb(167, 13, 13);
}
.table thead th {
    background: rgb(2, 2, 12) !important;
}
td{color:white}
.fa-trash{cursor: pointer;text-align: center;}
.wishlist-input{width: 90%;}
.save{width: 10%;}
@media (max-width: 767px ){/* mobile & tablet*/
.wishlist-input{width: 70%;}
.save{width: 20%;}


}
@media (min-width: 768px) and (max-width:991px){ /* small screen */ 

    

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}