

<div class="header" id="header">
    <div class="container">
        <div class="row">
        <div class="content">
    <ngx-typed-js [strings]="['Try Buttons on my website please']" [shuffle]="true"
     [typeSpeed]="40" [loop]="true">
        <span class="typing"></span>
      </ngx-typed-js>
      <button class="mt-2"><a routerLink="/product" style="color: white;">shop now</a></button>
    </div>
</div></div>
</div>

<!-- end header -->

<!-- start display product -->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>NEW ARRIVALS
                </h6>  
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3  mb-5" *ngFor="let item of product">
                <a routerLink="/detail/{{item.id}}">
                <div class=" h-100 p-2" style="background: white;">
                    <div class="w-100">
                        <img [src]="item.image" class="w-100 p-3">
                        </div>
                        <h5>{{item.price}} $</h5>
                         <p class="p-3">{{item.title}}</p>
                      
                </div>
            </a>
            <button class="add-btn" (click)="openDialog(addToCart)">Add To Cart</button>
            <ng-template #addToCart>
                <div class="row">
                <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-label>Enter Quantity please</mat-label>
                    <input type="number" matInput [(ngModel)]="quantity">
                </mat-form-field>
                <button  class="col-md-6 add-btn" id="liveToastBtn" (click)="pushIntoCart(item);pushquantity(quantity);closeDailog();openSnacBar();quantity=''">add to cart</button>
                 <button  class="col-md-5 add-btn" (click)="closeDailog();quantity=''">cancel</button>    
            </div></div>
            </ng-template>
        
        
        
        </div>
            <ng-container *ngIf="NumOfItem <= 20">
            <button class="loadmore" (click)="loadMore()">Load More <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </ng-container>
        <div class="col-md-12 card" style="height: 400px;margin: 7% 0;">
            <div class="w-100 h-100 p-4">
                <iframe class="w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
                    frameborder="0" style="border:0" allowfullscreen="">
                </iframe>
            </div>
        </div>
        </div>
    </div>
</div>

