<mat-vertical-stepper  #stepper class="stepper mb-5 mt-5 p-5">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Personal Information</ng-template>
          <input  type="radio" formControlName="male" class="mt-4 mb-1"> Mr.
          <input  type="radio" formControlName="female" class="ml-5 mt-4 mb-1"> Mrs.
         <br>
          <mat-form-field apperance="legacy">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="name" required>
          </mat-form-field>
          <br>
          <mat-form-field apperance="legacy">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <br>
         
           <mat-form-field apperance="legacy" class="mb-3">
            <mat-label>Birthdate
            </mat-label>
            <input matInput type="text" placeholder="MM/DD/YYYY"  formControlName="Birthdate" required>
          </mat-form-field>
          <br>
         <p class="privacy"><input type="checkbox" formControlName="privacy"> I agree to the terms and conditions and the privacy policy
         </p>
          <div>
            <button mat-button matStepperNext class="stepper-btn mt-2">continue</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
          <mat-form-field class="mb-5">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
                   required></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="stepper-btn">Back</button>
            <button mat-button matStepperNext class="stepper-btn ml-3">Continue</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" label="Payment Method">
        <form [formGroup]="thirdFormGroup">
            <label class="labelForm">
                Select Payment Methode
              </label>
              <br>
            <select [(ngModel)]="selectedPaymentMethod" name="payment_method"
               formControlName="payment_method" class="border mb-5" required>
                <option *ngFor="let payment of paymentMethods" [value]="payment">{{payment}}</option>
              </select>
          <div>
            <button mat-button matStepperPrevious class="stepper-btn">Back</button>
            <button mat-button class="stepper-btn ml-3">order</button>
        </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>