button{
    background: rgb(167, 13, 13);
    color: white;
    padding: 5px;
    border:none;
    outline:none;
    border-radius: 2px;
    width: 8%;
}
mat-form-field{
    width: 30%;
}
select{
    width: 30%;
   option{
       background: rgb(65, 64, 64);
       color: white;
       padding: 10px;
   }
}
@media (max-width: 767px ){/* mobile & tablet*/



}
@media (min-width: 768px) and (max-width:991px){ /* small screen */ 

    

}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}
